[defaults]
# inventory = ./environments/test
retry_files_enabled = False
roles_path = ./roles/galaxy:./roles
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.facts
fact_caching_timeout = 1209600
# deprecation_warnings = False


# SSH timeout
timeout = 60

# local lib
library = ./library

[ssh_connection]
# ControlPersist speeds up 10x, pipelining speeds up 2x
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 60

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 10 second.
command_timeout = 30
